<a href="https://colab.research.google.com/github/soumyasahaiitb/Wes-Mckinney-Python-for-Data-Analysis-/blob/master/Chapter_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Introspection
#Using a question mark (?) before or after a variable will display some general information about the object:
introspection="it"
?introspection

In [7]:
#Variables and argument passing
#When assigning a variable (or name) in Python, you are creating a reference to the object shown on the righthand side of the equals sign.
#In some languages, the assignment if b will cause the data [1, 2, 3] to be copied. In Python, a and b actually now refer to the same object, the original list [1, 2, 3].
#You can prove this to yourself by appending an element to a and then examining b
a=[1,2,3]
b=a
a.append(4)
b

def append_elements(lists,element):
  lists.append(element)
append_elements(a,6)
a

[1, 2, 3, 4, 6]

In [10]:
#Dynamic references, strong types
#Variables in Python have no inherent type associated with them; a variable can refer to a different type of object simply by doing an assignment.
#There is no problem with the following:
a=6
type(a)
a="foo"
type(a)

str

In [11]:
#Variables are names for objects within a particular namespace; the type information is stored in the object itself.
#Some observers might hastily conclude that Python is not a “typed language.” This is not true; consider this example:
#"5"+5 : it will give type error in python. In some languages, the string '5' might get implicitly converted (or cast) to an integer, thus yielding 10.
#In other languages the integer 5 might be cast to a string, yielding the concatenated string '55'. In Python, such implicit casts are not allowed.
#In this regard we say that Python is a strongly typed language, which means that every object has a specific type (or class)
#implicit conversions will occur only in certain permitted circumstances, such as:
a=5.6
b=6
print(f"a is{type(a)} and b is {type(b)}")
print(a/b)
#Here, even though b is an integer, it is implicitly converted to a float for the division operation.

a is<class 'float'> and b is <class 'int'>
0.9333333333333332

In [13]:
#You can check that an object is an instance of a particular type using the isinstance function:
a=6
isinstance(a,int)
#isinstance can accept a tuple of types if you want to check that an object’s type is among those present in the tuple:
b=8
c=9.6
isinstance(a,(int,float))
isinstance(b,(int,float))

True

In [17]:
#Attributes and methods
#Objects in Python typically have both attributes (other Python objects stored “inside” the object) and
#methods (functions associated with an object that can have access to the object’s internal data).
#a.<Press Tab>
#capitalize() index()        isspace()      removesuffix()  startswith()
#casefold()   isprintable()  istitle()      replace()       strip()
#center()     isalnum()      isupper()      rfind()         swapcase()
#count()      isalpha()      join()         rindex()        title()
#encode()     isascii()      ljust()        rjust()         translate()
#endswith()   isdecimal()    lower()        rpartition()
#expandtabs() isdigit()      lstrip()       rsplit()
#find()       isidentifier() maketrans()    rstrip()
#format()     islower()      partition()    split()
#format_map() isnumeric()    removeprefix() splitlines()'''
a="foo is"
a.capitalize() #makes the first letter capital

'Foo is'

In [22]:
#Duck typing
#Often you may not care about the type of an object but rather only whether it has certain methods or behavior.
#This is sometimes called duck typing, after the saying "If it walks like a duck and quacks like a duck, then it's a duck."
#For example, you can verify that an object is iterable if it implements the iterator protocol.
#For many objects, this means it has an __iter__ “magic method,” though an alternative and better way to check is to try using the iter function:
a=5

def isiterable(object):
  try :
    iter(object)
    return True
  except TypeError:
    return False

isiterable(5)

False

In [ ]:
#Imports
#In Python, a module is simply a file with the .py extension containing Python code. Suppose we had the following module:

# some_module.py
#PI = 3.14159

#def f(x):
#    return x + 2

#def g(a, b):
#    return a + b

#If we wanted to access the variables and functions defined in some_module.py, from another file in the same directory we could do:

#import some_module
#result = some_module.f(5)
#pi = some_module.PI

#Or alternately:

#from some_module import g, PI
#result = g(5, PI)

#By using the as keyword, you can give imports different variable names:

#import some_module as sm
#from some_module import PI as pi, g as gf

#r1 = sm.f(pi)
#r2 = gf(6, pi)

In [26]:
#Binary operators
#a // b	Floor-divide a by b, dropping any fractional remainder
#a ** b	Raise a to the b power
#a & b	True if both a and b are True; for integers, take the bitwise AND
#a | b	True if either a or b is True; for integers, take the bitwise OR
#a ^ b	For Booleans, True if a or b is True, but not both; for integers, take the bitwise EXCLUSIVE-OR
#a == b	True if a equals b
#a != b	True if a is not equal to b
#a is b	True if a and b reference the same Python object
#a is not b	True if a and b reference different Python objects
a=[1,2,3]
b=a
c=list(a)
c is a # Since the list function always creates a new Python list (i.e., a copy), we can be sure that c is distinct from a and so it will give false.
b is a # Gives true
c==a #Gives true.Comparing with is is not the same as the == operator.
#A common use of is and is not is to check if a variable is None, since there is only one instance of None.
a= None
a is None

True

In [29]:
#Many objects in Python, such as lists, dictionaries, NumPy arrays, and most user-defined types (classes), are mutable
#Others, like strings and tuples, are immutable
a=[4,5]
a[1]=6
a #We can reassign in list
b=(5,6)
b[1]=3
b #We cannot

TypeError: 'tuple' object does not support item assignment

In [31]:
#Scalar Types
#Python has a small set of built-in types for handling numerical data, strings, Boolean (True or False) values, and dates and time.
#These "single value" types are sometimes called scalar types, and we refer to them in this book as scalars.
#None	The Python “null” value (only one instance of the None object exists)
#str	String type; holds Unicode strings
#bytes	Raw binary data
#float	Double-precision floating-point number (note there is no separate double type)
#bool	A Boolean True or False value
#int	Arbitrary precision integer
#Integer division not resulting in a whole number will always yield a floating-point number:
3/2
3//2

1

In [35]:
#For multiline strings with line breaks, you can use triple quotes, either ''' or """:
c='''
this is
so good
'''
#It may surprise you that this string c actually contains four lines of text; the line breaks after """ and after lines are included in the string.
#We can count the new line characters with the count method on c:
c.count("\n")

3

In [48]:
#We cannot make changes in a string so we have to create a new string .
#If we need to modify a string, we have to use a function or method that creates a new string, such as the string replace method:
a="This is good"
b=a.replace("good","very good")
b
# Many Python objects can be converted to a string using the str function:
c=8
d=str(8)
type(d)
#Strings are a sequence of Unicode characters and therefore can be treated like other sequences, such as lists and tuples:
e="python"
f=list(e)
f[1:3] # slicing
#The backslash character \ is an escape character, meaning that it is used to specify special characters like newline \n or Unicode characters.
#To write a string literal with backslashes, you need to escape them:
a="Her name is \\ Subha"
print(a)
#If you have a string with a lot of backslashes and no special characters, you might find this a bit annoying.
#Fortunately you can preface the leading quote of the string with r, which means that the characters should be interpreted as is:
b=r"she is \ very good \ he is \ very \ bad"
print(b)
#concatenation
a= "she"
b= "he"
a+ b

Her name is \ Subha
she is \ very good \ he is \ very \ bad

'shehe'

In [54]:
#Unicode,bytes and different encodings
#Unicode characters are encoded into bytes using various encoding schemes, such as UTF-8, UTF-16, or UTF-32.
#latin1: Each character is represented by a single byte (8 bits).
#UTF-8: Encodes each Unicode character into one to four bytes.
#UTF-16: Encodes each Unicode character into two or four bytes.
ori="Soumyn"
a=ori.encode("utf-8")
b=ori.encode("latin1")
c=ori.encode("utf-16")
d=ori.encode("utf-16le")
print(a,b,c,d)

b'Soumyn' b'Soumyn' b'\xff\xfeS\x00o\x00u\x00m\x00y\x00n\x00' b'S\x00o\x00u\x00m\x00y\x00n\x00'

In [56]:
#Type casting
int(False)
int(True)
bool(3) # most nonzero values when cast to bool become True.

True

In [60]:
#None is also a common default value for function arguments:
def addnum(a,b,c=None):
  result = a + b
  if c is not None:
    result = result * c
  return result
addnum(2,3)

5

In [77]:
# Dates and times
#The built-in Python datetime module provides datetime, date, and time types.
#The datetime type combines the information stored in date and time and is the most commonly used
from datetime import datetime,date,time
dt=datetime(2024,3,5,5,34,45) #datetime(year,month,date,hour,minute,seconds)
dt.day #5
dt.second #45
dt.date()
dt.time()
#The strftime method formats a datetime as a string:
dt.strftime("%Y-%m-%d %H:%M")
#Strings can be converted (parsed) into datetime objects with the strptime function:
dt.strptime("2009123897","%Y%m%d%H%M%S")

date=dt.replace(hour=0,minute=0)
dt
date
#Since datetime.datetime is an immutable type, methods like these always produce new objects.So in the previous example, dt is not modified by replace

datetime.datetime(2024, 3, 5, 0, 0, 45)

In [80]:
#The difference of two datetime objects produces a datetime.timedelta type:
dt=datetime(2009,2,4,5,7,8)
dt2=datetime(2009,2,3,5,7,9)
delta=dt-dt2
delta
#Adding a timedelta to a datetime produces a new shifted datetime:
dt2+delta

datetime.datetime(2009, 2, 4, 5, 7, 8)

In [88]:
#Loops
#You can advance a for loop to the next iteration, skipping the remainder of the block, using the continue keyword.
#Consider this code, which sums up integers in a list and skips None values:
a=[1,2,3,None,5,None,8]
sum=0
for values in a:
  if values is None:
    continue
  sum=sum+values
sum
#A for loop can be exited altogether with the break keyword. This code sums elements of the list until None is reached:
a=[1,2,3,None,5,None,8]
sum=0
for values in a:
  if values is None:
    break
  sum=sum+values
sum
#The break keyword only terminates the innermost for loop; any outer for loops will continue to run

6

In [90]:
#pass
#pass is the “no-op” (or "do nothing") statement in Python.
#It can be used in blocks where no action is to be taken (or as a placeholder for code not yet implemented);
#it is required only because Python uses whitespace to delimit blocks
#The pass statement in Python is a null operation; it does nothing when executed.
#It is used as a placeholder in situations where a statement is syntactically required but no action needs to be performed.
#This is particularly useful in Python because the language uses indentation to define blocks of code, and an empty block would otherwise result in an indentation error.
x=0
if x < 0:
    print("negative!")
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print("positive!")

In [92]:
#The range function generates a sequence of evenly spaced integers:
a=list(range(0,10,2)) #range(start,end,step)
a

[0, 2, 4, 6, 8]